/*COLOR 1 : rgb 216,226,220  */
/*COLOR 2 : rgb 255,229,217 */
/*COLOR 3 : rgb 255,202,212 */
/*COLOR 4 : rgb 244,172,183 */
/*COLOR 5 : rgb 157,129,137 */

:root{
    --color1: rgb(216,226,220);
    --color2: rgb(255,229,217);
    --color3: rgb(255,202,212);
    --color4: rgb(244,172,183);
    --color5: rgb(157,129,137);
}
.color1{
    color: var(--color1);
}
.color2{
    color: var(--color2);
}
.color3{
    color: var(--color3);
}
.color4{
    color: var(--color4);
}
.color5{
    color: var(--color5);
}
.newsPIC{
    height:240px;
    width: 400px;
}
p{
    max-width: 600px;
    text-align: justify;
}
body {
    /* background: var(--color2); */
    margin: 0;
    padding: 0;
    font-family: Arial;
}
section{
    
    padding-top: 30px;
    padding-bottom: 30px;
}
.background5{
    background-color: var(--color5);
}
.background2{
    background: var(--color2);
}
.background3{
    background: var(--color3);
}
.background4{
    background: var(--color4);
}
.background1{
    background: var(--color1);
}
.gap_20 {
    gap: 20px;
}
.flex {
    display: flex;
}
.flex_just_between {
    justify-content: space-between;
}
.flex_just_center {
    justify-content: center;
}
.flex_align_center {
    align-items: center
}
.flex_just_around{
    justify-content: space-around;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.menu1 a {
    text-decoration: none;
    font-family: 18px;
    color: var(--color1);
    padding: 10px 30px;
    transition: 0.5s;
}
.menu1 a:hover {
    color: #fff;
}

.contakts {
    padding-right: 10px;
}

.bgPicture{
    background: url(les1.jpg) ;
    background-size: cover;
    height: 80vh;
}

.slogan{
    font-size: 18px;
    padding: 20px;
    background: rgba(244, 172, 183, 0.4);/* color4 */
    width: 50%;
}
.nakladka{
    position: relative;
    width: 300px;
    height: 300px;
}
.img1, .img2{
    position: absolute;
    width: 150px;
    height: 150px;
}
.img1{
    top: 0;
    left: 0;
}
.img2{
    top: 70px;
    left: 70px;
}
.flex_direction_column{
    flex-direction: column;
}
.flex_just_start{
    justify-content: flex-start;
}
.bg2{
    background: rgba(244, 172, 183, 0.4);
}
.panel{
    padding: 10px 10px;
}
.forma{
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}
.marign_bottom_10{
    margin-bottom: 10px;
}
textarea{
    height: 100px;
    resize: none;
}
.bgFooter{
    background: rgb(152, 98, 107) ;
    color:#fff;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 4px;
    background-color: #aca9a9;
    color:#eee;
}
input[type="submit"]{
    width: 111% ;
    background-color: orange;
    color:black;
    border:none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
}
.inlineblock{
    display: inline-block;
}

.pic {
    width: 30%;
}
.UpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.7; /* Полупрозрачность */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
}

.UpButton:hover {
    opacity: 1; /* Полная непрозрачность при наведении */
}

.UpButton::before {
    content: "\2191"; /* Стрелка вверх (Unicode) */
    font-size: 24px;
}
.floatRight{
    float: right;
}
.marign_bottom_0{
    margin-bottom: 0px;
}