/* Обнул */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html,body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #0b1d26;
    color: #fff;
}
.wrapper{
    min-height: 100%;
}

._container{
    /*  wrapper*/ 
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
}
.parallax{
    min-height: 100vh;
}
.parallax__body{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__container{
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.parallax__label{
    color: aqua;
    display: flex;
    font-size: 18px;
    letter-spacing: 6px;
    margin: 0px 0px 30px 0px;
    align-items: center;
}
.parallax__label::before{
    flex: 0 0 70px;
    content: "";
    margin: 0px 30px 0px 0px;
    background-color: #fdb784;
    height: 1px;
}

.parallax__title{
    font-size: 88px;
}
.parallax__images{
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;

}
.images-parallax{

}
.images-parallax_item{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax_clouds,.images-parallax_mountains,.images-parallax_zemla{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.images-parallax_clouds{
    background: url(clouds.png) top / cover no-repeat;
    top: 0;
}
.images-parallax_mountains{
    background: url(mountains.png) top / cover no-repeat;
    top: 15%;
    z-index: 2;
}
.images-parallax_zemla{
    background: url(hills.png) top / cover no-repeat;
    top:45%;
    z-index: 3;
}
.content{
    background-color: #0b1d26;
    position: relative;
    z-index: 2;
}

.content::before{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translate(0px,-100%);
    background: linear-gradient(180deg, rgba(11,29,35,0) 5%, #0b1d26 100%);
}
.content__container{

}
.content__title{
    font-size: 35px;
    margin: 0px 0px 30px 0px;
}
.content_text{
    font-size: 16px;
    line-height: 150%;
}
.content_text p{
    margin: 0px 0px 30px 0px;
}


@media (max-aspect-ratio: 3/2){/*ширина меньше высоты экрана*/
    .images-parallax_zemla{
        background-position: 20% top;
    }
}

@media (max-width: 767px){
    .parallax__title{
        font-size: 50%;
    }
    .parallax__label{
        font-size: 16px;
        margin: 0px 0px 15px 0px;
    }
}
@media (max-width: 479px){
    .parallax__title{
        font-size: 36px;
    }
    .parallax__label::before{
        flex: 0 0 50px;
        margin: 0px 10px 0px 0px;
    }
}