    .justy {
        display: flex;
        justify-content: center ;
    }
    .center {
        text-align: center;
    }
    td {
        padding-left: 10px;
        padding-right: 10px;
      }
    li {
        padding-bottom: 30px;     
      }
    .zagolovok1 {
        color:white;
    }
    .ispodne{
        color:aquamarine;
    }
    .mono {
        text-align: left;
    }