:root {
    --bg-color: #f1a611;
    --text-color: #222;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.block_cup {
    position: absolute;
    top: 100px;
    right: 40px;
}

.cup {
    width: 200px;
    position: relative;
    top: 150px;

}

.smoke {
    width: 100px;
    position: relative;
    left: 130px;
    z-index: 1;
}

.flex {
    display: flex;
}

.flex_just_between {
    justify-content: space-between;
}

.flex_just_center {
    justify-content: center;
}

.flex_align_center {
    align-items: center
}

.gap_20 {
    gap: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    
}

.menu a {
    font-family: 18px;
    color: var(--text-color);
    padding: 10px 30px;
    transition: 0.5s;
}
/*
.menu a:link{
    background: cadetblue;
}

.menu a:visited{
    background: blueviolet;
}

.menu a:active{
    background: red;
}
*/

.menu a:hover {
    background: #000;
    color: #fff;
}

.contacts {
    padding-right: 10px;
}

.banner {
    background: url(images/fon.jpg);
    background-size: cover;
    height: 80vh;
    transition: 1s; /*время анимации hover*/
}
/*
.banner:hover {
    background: url(images/fon.png);
    background-size: cover;
}
*/

.banner_text {
    font-size: 18px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    width: 50%;
}

.bg1 {
    background: #f6e8cb;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 70%;
    margin: auto;
}

.pic {
    width: 30%;
}


/*Подвал*/
footer {
    background: #f1a611;
    color: #fff;
    padding: 70px 0;
}

.form {
    width: 30%;
    margin-right: 50px;
}

.map {
    width: 70%;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background: #dbccc5;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background: saddlebrown;
}

input:focus, textarea:focus {
    outline: 0;
    background: #f3f0ee;
}

input[type="submit"]:focus {
    background: saddlebrown;
}

.icon_nav {
    color:blueviolet;
    margin-right: 15px;
    font-size: 20px;
    display: none;
}

